.vs/
GH Injector Library/Release/
GH Injector SM/GH Injector SM/x64/
GH Injector SM/GH Injector SM/x86/
Release/
Debug/
GH Injector Library/Debug/
GH Injector DNP/Release/
GH Injector DNP/x64/
GH Injector DNP/Debug/